<ion-view view-title="Dispositivos">
  <ion-content>
    <div class="row" ng-repeat="dispositivo in dispositivos" ng-if="$index % 3 === 0">
        <div class="col col-33" ng-if="$index < dispositivos.length">	
			<md-card md-theme="dark-grey" md-theme-watch>
				<md-button class="md-raised" href="#/app/dispositivos/{{dispositivos[$index].id}}">
					<img src="./img/{{dispositivos[$index].img}}"/>
				</md-button>     
				<md-card-actions layout="row" layout-align="end center">
				  <a href="#/app/dispositivos/{{dispositivos[$index].id}}">		
					  <i class="fa fa-bars" style="font-size: 18px"></i>
					</a>
					<span style="padding-right:2.5em"></span>
					<a href="#/app/dispositivos/{{dispositivos[$index].id}}">		
					  <i class="fa fa-trash-o" style="font-size: 18px"></i>
					</a>
				</md-card-actions>
			</md-card>
        </div>
        <div class="col col-33" ng-if="$index + 1 < dispositivos.length">
            <md-card md-theme="dark-grey" md-theme-watch>
				<md-button class="md-raised" href="#/app/dispositivos/{{dispositivos[$index+1].id}}">
					<img src="./img/{{dispositivos[$index+1].img}}"/>
				</md-button>     
				<md-card-actions layout="row" layout-align="end center">
					<a href="#/app/dispositivos/{{dispositivos[$index+1].id}}">		
					  <i class="fa fa-bars" style="font-size: 18px"></i>
					</a>
					<span style="padding-right:2.5em"></span>
					<a href="#/app/dispositivos/{{dispositivos[$index+1].id}}">		
					  <i class="fa fa-trash-o" style="font-size: 18px"></i>
					</a>
				</md-card-actions>
			</md-card>      
        </div>
        <div class="col col-33" ng-if="$index + 2 < dispositivos.length">
            <md-card md-theme="dark-grey" md-theme-watch>
				<md-button class="md-raised" href="#/app/dispositivos/{{dispositivos[$index+2].id}}">
					<img src="./img/{{dispositivos[$index+2].img}}"/>
				</md-button>     
				<md-card-actions layout="row" layout-align="end center">
					<a href="#/app/dispositivos/{{dispositivos[$index+2].id}}">		
					  <i class="fa fa-bars" style="font-size: 18px"></i>
					</a>
					<span style="padding-right:2.5em"></span>
					<a href="#/app/dispositivos/{{dispositivos[$index+2].id}}">		
					  <i class="fa fa-trash-o" style="font-size: 18px"></i>
					</a>
					
				</md-card-actions>
			</md-card>            
        </div>
    </div>
  </ion-content>
</ion-view>
